@import url("style.css");

header {
  width: 100%;
  height: 120px;
  background-color: #FAFAFA;
  border-bottom: #EBEBEB solid 1px;
}

.left-margin {
  margin-left: 150px;
}

.inline-block {
  display: inline-block;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.option {
  width: 60px;
  height: 38px;
  background-color: #FAFAFA;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: rgb(119, 119, 119);
  border-style: none;
}

.special-option {
  width: 90px;
}

.option:hover {
  cursor: pointer;
}

.selected-option {
  color: #4288F5;
  border-bottom: #4288F5 solid 3px;
  font-weight: bold;
}

.title {
  color: #1a0dab;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.url {
  color: #006621;
  font-size: 14px;
}

.arrow {
  color: #006621;
  font-size: 11px;
  font-family: arial,sans-serif;
  position: absolute;
}

.translate {
  color: #1a0dab;
  font-size: 14px;
  margin-left: 13px;
}

.result-data {
  color: #979797;
  font-size: small;
}

.description {
  color: #545454;
  font-size: small;
  margin-top: 3px;
}

.visual-menu {
  background-image: url(https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png);
  background-size: 108px 39.6px;
  margin-left: -2px;
}

.o {
  width: 18px;
  height: 28px;
  background-position: -47px -9px;
}

.o:hover {
  cursor: pointer;
}

.index {
  color: #4788F4;
  font-size: small;
  margin-left: 9px;
  padding: 0px;
}

.index:hover {
  cursor: pointer;
  text-decoration: underline;
}

.small-font {
  font-size: small;
}

#logo {
  width: 120px;
  height: 44px;
  max-width: 120px;
  min-height: 44px;
  margin-top: 20px;
  margin-left: 10px;
  background-image: url(https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png);
  background-size: 120px 44px;
}

#search-bar-container {
  margin-top: 10px;
}

#search-area {
  position: absolute;
  width: 590px;
  height: 110px;
  margin-left: 20px;
}

#search-options {
  height: 40px;
  margin-top: 20px;
}

#special-options {
  margin-top : 0;
}

#tools {
  height: 30px;
}

#tools:hover {
  background-color: #F2F2F2;
  border: #C6C6C6 solid 1px;
}

#search-results {
  width: 590px;
  height: 100%;

}

#number-of-results {
  color: #979797;
  font-size: small;
}

#navigation-menu {
  margin-left: 110px;
  margin-top: 30px;
}

#g {
  width: 28px;
  height: 37px;
}

#first-o {
  background-position: -28px -9px;
}

#gle {
  width: 40px;
  height: 39px;
  background-position: -66px 3px;
}

#arrow{
  width: 10px;
  height: 37px;
  margin-left: 20px;
  background-image: url(https://www.google.it/images/nav_logo242.png);
  background-position: -160px 0px;
  background-size: 167px 410px;
}

#current {
  margin-left: 33px;
  color: #000000;
}

#next {
  margin-left: 45px;
}

#circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #9E9E9E;
}

#geo {
  color: #AAAAAA;
}

#footer-links a {
  margin-right: 30px;
}

footer {
  margin-top: 40px;
  height: 80px;
  font-size: small;
}

footer div {
  display: block;
  width: 600px;
  margin-top: 20px;
}

footer a {
  margin-right: 0px;
}
